* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --background-color-primary: #f5f5f5;
  --background-color-secondary:#f5f5f5;
  --password-background: #f5f5f5;
  --password-background-hover: #00ff009a;
  --title-color: rgba(0, 0, 0, 0.849);
  --text-color: rgba(0, 0, 0, 0.849);
  --password-color-hover: rgb(0, 0, 0);
  --password-color: black;
  --borders-color: black;
}

body {
  height: 100vh;
  display: flex;
  background-image: linear-gradient(
    to right bottom,
    var(--background-color-primary) 30%,
    var(--background-color-secondary)
  );
  color: var(--text-color);
}

#container {
  margin: auto;
  width: 720px;

  display: flex;
  flex-direction: column;
}

#container h1 {
  font-size: 64px;
  text-align: center;
  color: var(--title-color);
  margin: 0 70px;

  border-bottom: 5px solid var(--title-color);
  border-radius: 20px;
  margin-bottom: 10px;
}

#options-container {
  font-size: 30px;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
input[type="checkbox"] {
  transform: scale(1.5); /* Ajuste o valor conforme necessário */
}


.checkbox-container {

  width: 50%;
  padding: 5px 0 5px 50px;
 
}
.checkbox-container input {
  margin-right: 10px;
  
}


.password-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.password-container input {
  margin: 15px 0 0;
  
}
.password-container label {
  font-size: 24px;
}

#rangeValue {
  font-size: 20px;
  padding-top: 8px;
}
.password-button-container {
  text-align: center;
  margin-top: 16px;
  padding: 10px;

}
.password-button-container button {
  font-size: 24px;
  color: var(--text-color);
  background: none;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 10px;
}
.password-button-container button:hover {
  background-color: var(--password-background-hover);
  border: 1px solid var(--borders-color);
  color: var(--password-color-hover);
  transition: background-color ease-out 0.3s;
}
h4 {
  text-align: center;
  padding: 30px;
  margin: 30px;
  font-weight: bold;
  font-size: 24px;
  box-shadow: 10px 8px 20px #000000;
}
#password-box {
  text-align: center;
  margin: 60px auto;
  padding: 10px;
  font-size: 24px;
  background-color: var(--password-background);
  color: var(--password-color);
  font-weight: bold;
  display: none;
  border-radius: 5px;
  border: 1px solid black;
}
